// Colors
.bg-gray {
    background: #696969;
}

.bg-wine {
    background: #8C0000;
}

.bg-orange {
    background: #FF8C00;
}

.bg-gray-transparent {
    background: rgb(109, 96, 63);
}

.bg-grad-white-gold {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(218,172,56,1) 100%);
}